<% content_for :page_name, "Control de #{@club.club_name} - Entornes" %>

<%= render 'clubs/layout/one' %>
	<section class="_console _1">
		<% if @club.duels.present? && @club.memberships.present? %>
			<aside class="_1">
				<div class="row">
					<div class="col-lg-3">
						<div class="_card">
							<div class="_in _1">
								<span class="_1">
									<p>Total members</p>
								</span>
								<span class="_2">
									<p><i class="fal fa-users"></i></p>
								</span>
							</div>
							<div class="_in _2">
								<span class="_1">
									<h1><%= @club.memberships.count %></h1>
									<p><small>+100% from last month</small></p>
								</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="_card">
							<div class="_in _1">
								<span class="_1">
									<p>Upcoming events</p>
								</span>
								<span class="_2">
									<p><i class="fal fa-calendar"></i></p>
								</span>
							</div>
							<div class="_in _2">
								<span class="_1">
									<h1><%= @upcoming_duels_count %></h1>
									<p><small>+19% from last month</small></p>
								</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="_card">
							<div class="_in _1">
								<span class="_1">
									<p>Income</p>
								</span>
								<span class="_2">
									<p><i class="fal fa-sack-dollar"></i></p>
								</span>
							</div>
							<div class="_in _2">
								<span class="_1">
									<h1>$45.605,02</h1>
									<p><small>+100% from last month</small></p>
								</span>
							</div>
						</div>
					</div>
					<div class="col-lg-3">
						<div class="_card">
							<div class="_in _1">
								<span class="_1">
									<p>Followers</p>
								</span>
								<span class="_2">
									<p><i class="fal fa-flag-checkered"></i></p>
								</span>
							</div>
							<div class="_in _2">
								<span class="_1">
									<h1>4.343</h1>
									<p><small>+100% from last month</small></p>
								</span>
							</div>
						</div>
					</div>
					<div class="col-lg-6 _1">
						<aside>
							<div class="_body_console _1">
								<div class="_cont _1">
								
									<% if @undo.present? %>
											<%= render 'shared/cards/duels/undo', duel: @undo %>
									<% end %>
									<table class="table align-middle table_rivals">
									  <tbody>
									  	<% if @next.present?  %>
									    	<%= render 'clubs/shared/cards/rival', duel: @next %>
											<% end %>
											<% if @upcoming_duels.present? %>
												<% @upcoming_duels.each do |duel| %>
												<%= render 'clubs/shared/lists/duels/rivals', duel: duel %>
												<% end %>
											<% end %>
										</tbody>
									</table>
							</div>
						</aside>
					</div>
					<div class="col-lg-6 _2">
						<aside>
							<div class="_body_console _1">
								<% if @members.count > 0 %>
									<ul class="list-group list-group-flush">
										<% @members.each do |player| %>
											<li class="list-group-item d-flex justify-content-between _itemuser">
												<div class="_i">
													<figure>
														<%= link_to user_path(player) do %><%= image_tag player.avatar.url(:medium), class: "_avatar _1" %><% end %>
														<div class="_status">
															<% if player.status == true %>
																<span class="_pointstatus bg-success"></span>
															<% else %>
																<span class="_pointstatus bg-secondary"></span>
															<% end %>
														</div>
													</figure>
													<div class="_data">
														<h6 class="_name"><%= link_to user_path(player) do %><%= player.firstname %> <%= player.lastname %><% end %></h6>
														<p class="_slug"><%= player.slug %></p>
													</div>
												</div>
												<div class="_iii">
													<div class="_clubes">
															
													</div>
												</div>
												<div class="_ii">
													<div class="_position">
														<% if player.position.present? %>
															<% positions = player.position.split(',') %>
															<% positions.first(2).each do |position| %>
																<span class="badge outline"><%= position.strip %></span>
															<% end %>
															<% if positions.count > 2 %>
																<span class="badge outline">+<%= positions.count - 2 %></span>
															<% end %>
														<% else %>
															<span class="badge withoutline">No position</span>
														<% end %>
													</div>
												</div>
												<div class="_iv">
													<div class="_move">
														<% if @pendings.pluck(:user_id).include?(player.id) %>
															<div class="_iconlist _1">
																<i class="fal fa-clock"></i>
															</div>
														<% elsif @approveds.pluck(:user_id).include?(player.id) %>
															<div class="button--icon _1">
																<i class="fal fa-check-circle"></i>
															</div>
														<% else %>
															<%= link_to club_sendjoin_path(club_id: @club.id, user_id: player.id), method: :post, remote: true, class: "button--icon _1", id: "_invitation_#{player.id}" do %>
																<i class="fal fa-user-plus"></i>
															<% end %>
														<% end %>
													</div>
												</div>
											</li>
										<% end %>
									</ul>
								<% else %>
									<div class="_cont _1">
										<div class="_in _noitems">
											<div class="_inter">
												<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
												<lottie-player src="https://assets3.lottiefiles.com/packages/lf20_IwKi9V.json"  background="transparent"  speed="1"  style="width: 200px; height: 200px;" loop  autoplay></lottie-player>
												<h6 class="_mininotice">No tienes miembros aun</h6>
											</div>
										</div>
									</div>
								<% end %>
								<% if @pasts.present? %>
									<% @pasts.each do |duel| %>
									  <%= render 'clubs/shared/lists/duels/pasts', duel: duel %>
									<% end %>
								<% end %>
							</div>
						</aside>
					</div>

				</div>	
			</aside>
		<% elsif !@club.duels.present? && @club.memberships.present? %>
			<aside class="_1">
				<div class="row">
					<div class="col-lg-12 _1">
						<aside>
							<div class="_body_console _1">
								<div class="_cont _1">
									<%= render 'shared/tutos/duels/firstduel', club: @club %>
								</div>
							</div>
						</aside>
					</div>
				</div>	
			</aside>
		<% elsif @club.duels.present? && !@club.memberships.present? %>
			<aside class="_1">
				<div class="row">
					<div class="col-lg-8 _1">
						<aside>
							<div class="_body_console _1">
								<div class="_cont _1"></div>
							</div>
						</aside>
					</div>
					<div class="col-lg-4 _2">
						<aside>
							<div class="_body_console _1">
								<div class="_cont"></div>
							</div>
						</aside>
					</div>
				</div>	
			</aside>
		<% else %>
			<aside class="_1">
				<div class="row">
					<div class="col-12 _1">
						<aside>
							<div class="_body_console _1">
								<div class="_cont">
									<div class="jumbotron _jumbo_ _jumboresponsibility1">
										<div class="_in text-center">
											<h1 class="display-4 _title">Recluta a tus primeros talentos</h1>
											<p class="lead">¡Comienza a formar tu club de fútbol y atrae a los futuros campeones ahora mismo!</p>
											<hr>
											<%= link_to scouting_club_path(@club), class: "_1 _bigbtn _midbtn button--naira m-0-auto" do %>
									    	<span>Cazatalentos</span>
											  <i class="button__icon fad fa-paw-claws"></i>
											<% end %>
										</div>
									</div>
								</div>
							</div>
						</aside>
					</div>
			</aside>
		<% end %>
	</section>
 <%= render 'clubs/layout/two' %>
