<% content_for :page_name, "Arbitraje del duelo" %>

<%= render 'duels/layout/one' %>
	<section class="_console _1 _newduel">
		<aside class="_1">
			<div class="row">
				<div class="col-lg-12 _1">
						<aside>
							<header class="_header_console _1">
							</header>
							<div class="_body_console _1">
								<div class="_cont">
										<div class="jumbotron _jumbo_1">
											<div class="row nom">
												<div class="col-lg-12 text-center">
													<div class="_in ">
														<% if !@line.reject == true && @line.approve == false %>
													    <h3 class="display-6">You have been called up!</h3>
													    <p class="lead">Congratulations! You have been called up by <%= @club.user.firstname %> to participate as a player in an exciting match. You have the option to accept or decline the invitation:</p>
													    <br>
													    <div class="row nom">
													    	<div class="col-lg-6 _1">
														    	<%= simple_form_for([@club, @duel, @line]) do |f| %>
																		<%= f.hidden_field :approve, value: true %>
														    		<button type="submit" class="button--naira _1 fit">
																    	<span>Accept the challenge</span>
																    	<i class="button__icon fad fa-check-circle"></i>
														    		</button>
																	<% end %>
													    	</div>
													    	<div class="col-lg-6 _1">
																	<%= simple_form_for([@club, @duel, @line]) do |f| %>
																		<%= f.hidden_field :reject, value: true %>
														    		<button type="submit" class="button--naira _2 fit" >
																    	<span>Pass on the challenge</span>
																    	<i class="button__icon fad fa-times-circle"></i>
														    		</button>
																	<% end %>
													    	</div>
													    </div>
														<% elsif !@line.reject == true && @line.approve == true %>
													    <h3 class="display-6">Get ready to play!</h3>
													    <p>You have accepted the challenge and are ready to give your all in the duel. It's time to showcase your skills and enjoy the game!</p>
													    <br>
													    <div class="row nom">
													    	<div class="col-lg-6 _1">
														    	<%= link_to club_duel_path(@club, @duel), class: "button--naira _1 fit" do %>
															    	<span>Ir al duelo</span>
																		<i class="button__icon bi bi-check2-all"></i>
																	<% end %>
													    	</div>
													    </div>
														<% elsif @line.reject == true && @line.approve == false %>
													    <h3 class="display-6">"Missed opportunity!</h3>
													    <p>Unfortunately, you have chosen not to accept the challenge to participate in the duel. It's important to remember that declining invitations can affect your ranking score and make you miss out on unforgettable experiences.</p>
													    <p>Remember that every opportunity is valuable for showcasing your skills and facing new challenges. Accepting challenges allows you to grow as a player and have exciting encounters on the field.</p>
													    <br>
													    <div class="row nom">
													    	<div class="col-lg-6 _1">
														    	<%= link_to console_path, class: "button--naira _1 fit" do %>
															    	<span>Go to Console</span>
															    	<i class="button__icon fas fa-arrow-left"></i>
																	<% end %>
													    	</div>
													    </div>
														<% end %>
															
												  </div>
												</div>
											</div>
										</div>

								</div>
							</div>
						</aside>
				</div>
			</div>
		</aside>
	</section>

<%= render 'duels/layout/two' %>