<% content_for :page_name, "Edit #{@user.firstname} #{@user.lastname} - Entornes" %>

<%= render 'shared/layout/one' %>
  <section class="_console _1 _user">
    <aside class="_1">
      <div class="row">
        <div class="col-12 _1">
          <aside>
            <div class="_body_console _1">
              <section class="_user _1">
                <aside class="_usercover splide">
                  <div class="splide__arrows">
                    <button class="splide__arrow splide__arrow--prev d-none">
                    </button>
                    <button class="splide__arrow splide__arrow--next d-none">
                    </button>
                  </div>
                  <div class="splide__track">
                    <ul class="splide__list">
                      <li class="splide__slide" >
                        <%= image_tag @user.coverpage.url(:large), class: "_coverpic" %>
                      </li>
                    </ul>
                  </div>
                  <a class="_coverlink" data-bs-toggle="modal" data-bs-target="#coverModal">
                    <i class="bi bi-camera"></i>
                  </a>
                </aside>
                <aside class="_info">
                  <div class="row _1 _cover nom">
                    <div class="col-12 col-sm-auto _1">
                      <aside class="_in">
                        <figure class="_avatar_cont">
                          <%= image_tag @user.avatar.url(:medium), class: "_avatar" %>
                          <a class="_coverlink" data-bs-toggle="modal" data-bs-target="#avatarModal">
                            <i class="bi bi-camera"></i>
                          </a>
                        </figure>
                      </aside>
                    </div>
                    <div class="col-12 col-sm _2">
                      <div class="_in ">
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                          <h3 class="_title_edit text-center ">
                            <div class="input-group input-group-sm mb-3">
                              <a class="btn _title_edit_link_cancel">
                                <i class="bi bi-chevron-left"></i>
                              </a>
                              <h2 class="_clubtitle _1 mb-0"><%= @user.firstname %> <%= @user.lastname %></h2>
                              <a class="btn _title_edit_link">
                                <i class="bi bi-pencil-square "></i>
                              </a>
                              <%= f.text_field :firstname, class: "form-control _input_title_edit", placeholder: "#{@user.firstname}" %>
                              <%= f.submit "Guardar", class: "btn btn-outline-secondary" %>
                            </div>
                          </h3>
                        <% end %>
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                          <h6 class="_slug_edit">
                            <div class="input-group input-group-sm ">
                              <a class="btn _slug_edit_link_cancel">
                                <i class="bi bi-chevron-left"></i>
                              </a>
                              <p class="_clubsubtitle _1 mb-0">@<%= @user.slug %></p>
                              <a class="btn _slug_edit_link">
                                <i class="bi bi-pencil-square "></i>
                              </a>
                              <span class="_findstatus">
                                <span class="_status _club_status" style="right: 6px; top:7px;">
                                  <span id="valid-clubname" class="valid-clubname"><i class="bi bi-check2"></i></span>
                                  <span id="invalid-clubname" class="invalid-clubname"><i class="bi bi-x-lg"></i></span>
                                </span>
                              </span>
                              <%= f.text_field :slug, class: "_input _2 form-control _input_slug_edit", required: true,
                                    id: "club_clubname", placeholder: "#{@user.slug} " %>
                              <%= f.submit "Guardar", class: "btn btn-outline-secondary" %>
                            </div>
                          </h6>
                        <% end %>
                      </div>
                    </div>
                    <div class="col _3">
                      <div class="_in">
                        <div class="_actions">
                          <a class="_btn btn btn-primary disabled" disabled>Seguir</a>
                          <%= link_to "Invitar", join_club_path(@user), class: "_btn btn btn-outline-primary disabled", disabled: true %>
                          <a class="btn btn btn-outline-secondary disabled" disabled><i class="bi bi-info-circle"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row _3 _data m-0">
                    <div class="col-4 p-0 text-center">
                      <aside>
                        <h4>1.3M</h4>
                        <p>Fans</p>
                      </aside>
                    </div>
                    <div class="col-4 p-0 text-center">
                      <aside>
                        <h4>120.4k</h4>
                        <p>Duelos Ganados</p>
                      </aside>
                    </div>
                    <div class="col-4 p-0 text-center">
                      <aside>
                        <h4>158</h4>
                        <p>Torneos Ganados</p>
                      </aside>
                    </div>
                  </div>
                </aside>
              </section>
            </div>
          </aside>
        </div>
        <div class="col-12 _2">
          <aside>
            <div class="_body_console _1">
              <div class="_form">
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                  <div class="row nom">
                    <div class="col-lg-6">
                      <div class="_preinput">
                        <label>Nombre Legal</label>
                        <%= f.text_field :firstname, class: "form-control" %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="_preinput">
                        <label>Apellidos</label>
                        <%= f.text_field :lastname, class: "form-control" %>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="_preinput">
                        <label>Biografia</label>
                        <%= f.text_area :bio, class: "form-control" %>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <a class="button--naira _1 _fullwidth" data-bs-toggle="modal" data-bs-target="#refereeModal">
                        <span>Ser juez</span>
                        <i class="button__icon fad fa-save"></i>
                      </a>
                    </div>
                    <div class="col-lg-6">
                      <button class="button--naira _1 _fullwidth" type="submit">
                        <span>Guardar</span>
                        <i class="button__icon fad fa-save"></i>
                      </button>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </aside>
  </section>
<%= render 'shared/layout/two' %>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <!-- Modal -->

  <div class="modal fade" id="coverModal" tabindex="-1" aria-labelledby="coverModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="margin-bottom: 0;">Portada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="_cont">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group mb-3">
                  <%= f.file_field :coverpage, class: "form-control", id: "upload_picture_1" %>
                  <%= f.submit "Guardar", class: "btn btn-outline-secondary" %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="avatarModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="margin-bottom: 0;">Avatar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="_cont">
            <div class="row">
              <div class="col-md-12">
                <div class="input-group mb-3">
                  <%= f.file_field :avatar, class: "form-control", id: "upload_picture_1" %>
                  <%= f.submit "Guardar", class: "btn btn-outline-secondary" %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="margin-bottom: 0;">Portada</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="_cont">
            <div class="row">
              <div class="col-md-12">
              <div class="form-inputs">
                <div class="mb-3">
                  <label for="user_email" class="form-label">Email</label>
                  <%= f.email_field :email, required: true, autofocus: true, class: "form-control" %>
                </div>
                <div class="mb-3">
                  <label for="user_email" class="form-label">Nueva contraseña</label>
                  <%= f.password_field :password,
                              hint: "leave it blank if you don't want to change it",
                              required: false,
                              input_html: { autocomplete: "new-password" }, class: "form-control" %>
                </div>
                <div class="mb-3">
                  <label for="user_email" class="form-label">Confirma la nueva contraseña</label>
                  <%= f.password_field :password_confirmation,
                              required: false,
                              input_html: { autocomplete: "new-password" }, class: "form-control" %>
                </div>
                <div class="mb-3">
                  <label for="user_email" class="form-label">Contraseña actual para confirmar los cambios</label>
                </div>
              </div>
              <div class="form-actions">
                <%= f.submit "Update" %>
              </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


  <div class="modal fade" id="refereeModal" tabindex="-1" aria-labelledby="refereeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 style="margin-bottom: 0;">Aplicar para juez</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="_cont">
            <div class="row">
              <div class="col-md-12">
                <div class="form-actions">
                  <%= render 'referees/shared/new', referee: current_user %>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>


<script type="text/javascript">
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '._usercover', {
      type   : 'loop',
      height : '15rem',
      perPage: 1,
      perMove: 1
    } );
    splide.mount();

  });
</script>
  <script type="text/javascript">
    $(document).ready(function() {
      $("._title_edit_link").click(function() {
        $("._title_edit").toggleClass("active");
      });
      $("._title_edit_link_cancel").click(function() {
        $("._title_edit").toggleClass("active");
      });
      /* -------------  */
      $("._slug_edit_link").click(function() {
        $("._slug_edit").toggleClass("active");
      });
      $("._slug_edit_link_cancel").click(function() {
        $("._slug_edit").toggleClass("active");
      });
    });
  </script>