<nav class="_navside">
  <div class="_cont _1">
    <%= link_to root_path, class: "_logo _1" do %>
      <%= image_tag '//d2ivxtccd0p0sz.cloudfront.net/assets/brand/v2/e.svg', class: "_light", alt: 'Entornes'%>
    <% end %>


    <%= link_to location_club_duel_path, class: "_item #{'ready' if !@duel.address.blank? && !@duel.city.blank? && !@duel.country.blank? } #{'active' if current_page?(location_club_duel_path)} #{'active' if current_page?(location_club_duel_path)}"  do %>
      <i class="fal fa-map-marked"></i>
      <span>Location</span> 
      <% if !@duel.address.blank? && !@duel.city.blank? && !@duel.country.blank? %><i class="bi bi-check2-circle"></i><% end %>
    <% end %>

    <%= link_to referee_club_duel_path, class: "_item #{'ready' if !@duel.referee_type.blank? } #{'active' if current_page?(referee_club_duel_path)} #{'active' if current_page?(referee_club_duel_path)}"  do %>
      <i class="fal fa-whistle"></i>
      <span>Referee</span>
      <% if !@duel.referee == true %>
        <% if !@duel.responsibility == false %><i class="bi bi-check2-circle"></i><% end %>
      <% else %>
        <% if !@duel.referee_name.blank? %><i class="bi bi-check2-circle"></i><% end %>
      <% end %>
    <% end %>

    <%= link_to conditions_club_duel_path, class: "_item #{'ready' if !@duel.referee_type.blank?  } #{'active' if current_page?(conditions_club_duel_path)} #{'active' if current_page?(conditions_club_duel_path)}"  do %>
      <i class="fal fa-eclipse"></i>
      <span>Conditions</span> 
      <% if !@duel.referee_type.blank? %><i class="bi bi-check2-circle"></i><% end %>
    <% end %>

    <%= link_to budget_club_duel_path, class: "_item #{'ready' if !@duel.referee_type.blank? } #{'active' if current_page?(budget_club_duel_path)} #{'active' if current_page?(budget_club_duel_path)}"  do %>
      <i class="fal fa-money-bill-wave"></i>
      <span>Budget</span> 
      <% if !@duel.referee_type.blank? %><i class="bi bi-check2-circle"></i><% end %>
    <% end %>

    <%= link_to front_club_duel_path, class: "_item #{'ready' if !@duel.address.blank? && !@duel.city.blank? && !@duel.country.blank? } #{'active' if current_page?(front_club_duel_path)} #{'active' if current_page?(front_club_duel_path)}"  do %>
      <i class="fal fa-presentation"></i>
      <span>Presentation</span> 
      <% if !@duel.name.blank? %><i class="bi bi-check2-circle"></i><% end %>
    <% end %>


    <br>
    <% if @duel.referee == false %>
      <% is_ready = !@duel.members.blank? && !@duel.price.blank? && !@duel.referee_name.blank? && !@duel.address.blank? %>
    <% else %>
      <% is_ready = !@duel.members.blank? && !@duel.price.blank? && !@duel.responsibility == true && !@duel.address.blank? %>
    <% end %>
    <%= simple_form_for([@club, @duel]) do |f| %>
      <%= f.hidden_field :active, value: true %>
      <%= f.submit "Publish", class: "btn btn-outline-secondary #{'disabled' unless is_ready}" %>
    <% end %>

  </div>
</nav>
<%= render "shared/navs/foot" %>