<tr>
  <th>
    <div class="_cont">
      <%= link_to user_path(member), class:"_name" do %>
        <figure class="_avatar">
          <%= image_tag member.avatar.variant(resize_to_limit: [300, 300]), class: "_avatar _1" %>
        </figure>
      <% end %>
    </div>
  </th>
  <td>
    <div class="_cont">
      <div class="_info">
        <%= link_to user_path(member), class:"_name" do %>
          <%= member.firstname %> <%= member.lastname %>
        <% end %>
      </div>
    </div>
  </td>
</tr>