<header class="_head">
	<div class="_user">
    
    <%= link_to root_path, class: "_linkback" do %>
      <i class="bi bi-chevron-left"></i>
      <span>back</span>
    <% end %>
    <%= link_to @user, class: "_contavatar" do %>
      <%= image_tag @user.avatar.url(:medium), class: "_avatar _3" %>
    <% end %>
    <div class="_data">
      <b><%= @user.firstname %></b>
      <small>@<%= @user.slug %></small>
    <%= link_to @user, class: "_link_hide" do %><% end %>
    </div>
	</div>
  <div class="_actions">
    <%= link_to notifications_path, class: "_iconbtn" do %>
      <i class="bi bi-bell"></i>
      <span class="_count"></span>
    <% end %>
    <%= link_to new_club_path, class: "_iconbtn" do %>
      <i class="bi bi-plus-circle"></i>
    <% end %>
  </div>
</header>