<% content_for :page_name, "Consola de administración" %>
<%= render 'shared/layout/one' %>
	<section class="_console _1 _dashboard">
		<aside class="_1">
			<div class="row">
				<% if @clubs.present? %>
					<div class="col-12 _1">
						<aside>
							<header class="_header_console _1">
								<div class="_in">
									<div class="_info">
										<h3 class="_title">Hello, <%= current_user.firstname %></h3>
										<p class="_date"><%= "Today is #{l(Time.now, format: '%A, %d %B %Y')}" %></p>
									</div>
									<div class="_action">
										<% if current_user.clubs.present? %>
											<% if  @memberships_of_clubs.empty? %>
											  <%= link_to scouting_club_path(@clubs.first), class: "button--shikoba _1 " do %>
											  	<span>Recruit</span>
											  	<i class="bi bi-plus-circle button__icon"></i>
											  <% end %>
											<% else %>
												<% if current_user.clubs.count == 1 %>
													<%= link_to new_club_duel_path(@clubs.first), class: "button--shikoba _1 " do %>
														<span>New duel</span>
														<i class="bi bi-plus-circle button__icon"></i>
													<% end %>
												<% else %>
													<%= link_to battle_path, class: "button--shikoba _1 " do %>
														<span>New duel</span>
														<i class="bi bi-plus-circle button__icon"></i>
													<% end %>
												<% end %>

											<% end %>
										<% else %>
											<%= link_to new_club_path, class: "button--shikoba _1 " do %>
										  	<span>Create new club</span>
										  	<i class="bi bi-plus-circle button__icon"></i>
										  <% end %>
										<% end %>
									</div>
								</div>
							</header>
							<div class="_body_console _1">
								<div class="_inner">
									<% if @clubs.present? %>
										<fieldset class="_clubes">
											<% @clubs.each do |club| %>
												<div class="_club _1">
													<div class="_content">
														<div class="_fila _1">
															<div class="_1">
																<div class="_avataries">
																	<% progress = calculate_progress(club) %> 
																	<% members = User.joins(:memberships).where("memberships.club_id = ? AND memberships.status = 1", club.id).limit(2) %>
													    		<% total_members = club.memberships.where(status: 1).count %>

													    		<% if members.exists? %>
														        <% members.each do |member| %>
															        <%= link_to user_path(member), class: '_avatary', 'data-bs-toggle': 'tooltip', 'data-bs-placement': 'top', 'data-bs-title': 'Tooltip on top' do %>
															          <%= image_tag member.avatar.url(:medium), class: "_avatarline"  %>
															        <% end %>
														        <% end %>
														        <% if total_members > 2 %>
														          <span class="_avatary_number">+<%= total_members - 2 %></span>
														        <% end %>
														    	<% else %>
														    		<small><mutted>Without members</mutted></small>
														    	<% end %>
																</div>
															</div>
															<div class="_2">
																<div class="dropdown">
																  <button class="dropdown-toggle _options" type="button" data-bs-toggle="dropdown" aria-expanded="false">
																		<i class="bi bi-three-dots-vertical"></i>
																  </button>
																  <ul class="dropdown-menu">
																    <li><a class="dropdown-item" href="#">Action</a></li>
																    <li><a class="dropdown-item" href="#">Another action</a></li>
																    <li><a class="dropdown-item" href="#">Something else here</a></li>
																  </ul>
																</div>
															</div>
														</div>
														<div class="_fila _2">
															<div class="_1">
																<h2 class="_name"><%= club.club_name %></h2>
															</div>
														</div>
														<div class="_fila _3">
															<div class="_1">
																<% if club.user.id == current_user.id %>
																	<p class="_type">Director </p>
																  <% unless progress > 99 %>
																    <p><%= progress %>%</p>
																  <% end %>
																<% else %>
																	<p class="_type">Miembro</p>
																<% end %>

															</div>
														</div>
														<% unless progress > 99 %>
															<div class="_fila _4">
													      <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="<%= progress %>" aria-valuemin="0" aria-valuemax="100" style="height: 5px">
													        <div class="progress-bar" style="width: <%= progress %>%"></div>
													      </div>
															</div>
														<% end %>
														<%= link_to dashboard_club_path(club), class: "_link_hide" do %><% end %>
													</div>
													<figure class="_logo">
														<%= image_tag club.avatar.url(:medium), class: "_shield _1" %>
													</figure>
												</div>
											<% end %>
										</fieldset>
									<% end %>
									<fieldset class="_tasks">
										<div class="row">
											<div class="col-md-6 _1">
												<% if @tasks.present? %>
													<div class="_tasks">
														<h4 class="_title">Upcoming events</h4>
														<% @tasks.each do |task| %>
															<article class="_task">
																<div class="_content">
																	<div class="_1">
																		<div class="_text">
																			<p><%= task.description %></p>
																		</div>
																		<div class="_cta">
																			<a class="_link" href="<%= task.url %>">
																				<i class="bi bi-check2-circle"></i>
																			</a>
																		</div>
																	</div>
																	<div class="_2">
																		<a class="_link" href="<%= task.url %>"><span>Let's do it!</span> <i class="bi bi-chevron-compact-right"></i></a>
																	</div>
																</div>
															</article>
														<% end %>
													</div>
												<% else %>
													<% if current_user.clubs.present? %>
														<div class="_notasks">
															<p>There are no tasks available</p>
														</div>
													<% end %>
												<% end %>
											</div>
											<div class="col-md-6 _2">
												<div class="calendar_simple _1">
													<div id="calendar"></div>

													<div class="modal fade newEventModal" id="newEventModal" tabindex="-1" aria-labelledby="newEventModalLabel" aria-hidden="true">
														<div class="modal-dialog modal-dialog-centered">
															<div class="modal-content">
																<div class="modal-header">
																	<h1 class="modal-title fs-5" id="newEventModalLabel">New event</h1>
																	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																</div>
																<div class="modal-body">
															
																	<div class="_list"></div>
																	<input class="timepicker _time" id="timeSelector">
																</div>
																<div class="modal-footer">
																	<% if current_user.clubs.present? %>
																		<%= link_to new_club_duel_path(current_user.clubs.first), class: "btn btn-primary", id: "createDuelLink" do %>
																			<span>New duel</span>
																		<% end %>
																	<% end %>
																</div>
															</div>
														</div>
													</div>
													<div class="modal fade newEventTodayModal" id="newEventTodayModal" tabindex="-1" aria-labelledby="newEventTodayModalLabel" aria-hidden="true">
														<div class="modal-dialog modal-dialog-centered">
															<div class="modal-content">
																<div class="modal-header">
																	<h1 class="modal-title fs-5" id="newEventModalLabel">Nuevo event</h1>
																	<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																</div>
																<div class="modal-body">
																	<div class="_list"></div>
																</div>
																<div class="modal-footer">
																	<% if @clubs.present? %>
																		<%= link_to new_club_duel_path(@clubs.first), class: "btn btn-primary", id: "createDuelLink" do %>
																			<span>New duel</span>
																		<% end %>
																	<% end %>
																</div>
															</div>
														</div>
													</div>

													<% if @clubs.present? %>
														<script type="text/javascript">
																var clubId = '<%= @clubs.first.id %>';
																// Asignación inicial de tareas y horas no disponibles
																window.tasks = <%= raw @tasks_with_clubs.to_json %>
																var unavailableHours = {};

																// Función para mostrar las reservas en el FullCalendar
																function showReservations(data) {
																	return data.map(function(e) {
																		return {
																			title: e.description,
																			start: new Date(e.start_date).toISOString(),
																			end: new Date(e.end_date).toISOString(),
																			status: e.status,
																			avatar: e['avatar'] // URL del avatar
																			// Asegúrate de incluir cualquier otra propiedad que necesites aquí
																		};
																	});
																}

																// Función para actualizar las horas no disponibles basadas en los datos de las tareas
																function updateUnavailableHours(tasksData) {
																	unavailableHours = {}; // Reset de las horas no disponibles
																	tasksData.forEach(function(task) {
																		var startDate = moment.utc(task.start_date);
																		var endDate = moment.utc(task.end_date);
		
																		var dateKey = startDate.format('YYYY-MM-DD');

																		if (!unavailableHours[dateKey]) {
																			unavailableHours[dateKey] = [];
																		}

																		var timeRange = [startDate.format('HH:mm'), endDate.format('HH:mm')];
																		unavailableHours[dateKey].push(timeRange);
																	});
																}

																// Función para actualizar el enlace del duelo con la fecha y hora seleccionadas
																function updateDuelLinkWithDateTime(date, time) {
																	var dateTimeString = date.format('YYYY-MM-DD') + 'T' + time + ':00';
																	var baseUrl = '<%= new_club_duel_path(@clubs.first) %>';
																	var fullUrl = baseUrl + "?selected_date=" + encodeURIComponent(dateTimeString);
																	$('#createDuelLink').attr('href', fullUrl);
																}

																// Inicialización de FullCalendar
																$('#calendar').fullCalendar({
																	header: {
																		left: 'title',
																		center: '',
																		right: 'prev, next'
																	},
																	events: showReservations(window.tasks),
																	selectable: true,
																	dayClick: function(date, jsEvent, view) {
																		//var today = moment().startOf('day');
																		var today = moment(); 
																		var now = moment.utc(); // Hora actual
																		var clickedDate = date.clone().startOf('day');

																		if (clickedDate.isBefore(today, 'day')) {
																				// Si la fecha seleccionada es antes de hoy, no hacer nada
																				return;
																		}

																		var formattedDate = date.format('YYYY-MM-DD');
																		if (clickedDate.isSame(today, 'day')) {
																				$('#newEventTodayModal .modal-title').text('Eventos para hoy - ' + date.format('MMMM D, YYYY - dddd'));
																				$('#newEventTodayModal').modal('show');
																				return; // Agregar esta línea para evitar que se abra el modal de selección de hora si es el día de hoy.
																		} else {
																				// Para cualquier otro día futuro, muestra el modal de nuevo evento
																				$('#newEventModal .modal-title').text('Selecciona una hora para ' + date.format('MMMM D, YYYY - dddd'));
																				var modal = new bootstrap.Modal(document.getElementById('newEventModal'));
																				modal.show();
																		}

																		if (date.isBefore(today, 'day')) {
																			return;
																		}

																		var formattedDate = date.format('YYYY-MM-DD');
																		$('#newEventModal .modal-title').text('' + formattedDate);
																		var modal = new bootstrap.Modal(document.getElementById('newEventModal'));
																		modal.show();

																		var timepickerElement = $('#timeSelector');
																		timepickerElement.timepicker('remove'); // Eliminar cualquier instancia anterior

																		// Configuración básica del timepicker
																		var timepickerOptions = {
																			timeFormat: 'H:i',
																			disableTimeRanges: unavailableHours[formattedDate] || [],
																			step: 30
																		};
																		// Si la fecha seleccionada es hoy, configurar minTime y maxTime
																		if (clickedDate.isSame(today, 'day')) {
																				var currentMinutes = now.minutes();
																				var additionalMinutes = currentMinutes < 30 ? 30 - currentMinutes : 60 - currentMinutes;
																				
																				// Clonamos 'now' para no modificar la instancia original de 'moment'
																				var roundedCurrentTime = now.clone().add(additionalMinutes, 'minutes');

																				timepickerOptions.minTime = roundedCurrentTime.format('HH:mm');
																				timepickerOptions.maxTime = '23:59'; // Ajuste para que el tiempo máximo sea hasta el final del día de hoy
																		}

																		timepickerElement.timepicker(timepickerOptions);

																		timepickerElement.off('change').on('change', function() {
																			var selectedTime = $(this).val();
																			updateDuelLinkWithDateTime(date, selectedTime);
																		});
																		
																		// Obtén los eventos del día seleccionado
																		var events = $('#calendar').fullCalendar('clientEvents', function(event) {
																			return event.start.isSame(date, 'day');
																		});

																		// Compila la lista de eventos para mostrar
																		var eventList = events.map(function(event) {
																			return '<li>' + event.title + ' - ' + event.start.format() + '</li>';
																		}).join('');

																		// Actualizamos el título del modal con la fecha seleccionada
																		$('#newEventModal .modal-title').text(date.format('MMMM D, YYYY - dddd'));
																		$('#newEventModal .modal-body ._list').html('<ul>' + eventList + '</ul>');

																	},
																	eventRender: function(event, element, view) {
																			if (view.type === 'month') {
																					// Usa el método 'data-date' para asegurarte de que siempre estás apuntando al día correcto, incluso después de cambiar de mes
																					var dayEl = view.el.find('.fc-day-top[data-date="' + event.start.format('YYYY-MM-DD') + '"]');

																					// Encuentra o crea el contenedor de puntos
																					var pointsContainer = dayEl.find('._points');
																					if (pointsContainer.length === 0) {
																							pointsContainer = $('<div class="_points"></div>');
																							dayEl.append(pointsContainer);
																					}

																					var pointCount = pointsContainer.find('._point').length + 1; // Agrega 1 por el evento actual
																					if (pointCount < 4) { // Cambia a 4 porque ya has contado el evento actual
																							var eventDot = $('<div class="_point"><div class="_i"></div></div>');
																							pointsContainer.append(eventDot);
																					} else if (pointCount === 4) { // Cambia a 4 para manejar el caso de exactamente 4 eventos
																							// Eliminar los puntos existentes y añadir "+3"
																							pointsContainer.empty();
																							var moreEventsIndicator = $('<div class="_more">+3</div>');
																							pointsContainer.append(moreEventsIndicator);
																					} // No necesitas un 'else' aquí porque ya has manejado el caso de 4 o más
																			}
																	}
																});

																// Carga inicial de las tareas y actualización de las horas no disponibles
																$(document).ready(function() {
																	updateUnavailableHours(window.tasks);
																});
														</script>
													<% end %>

												</div>
											</div>
										</div>
									</fieldset>
								</div>
							</div>
						</aside>
					</div>
				<% else %>
					<div class="col-12">
						<aside>
							<div class="_body_console _1 _nothing">
								<%= render 'shared/tutos/clubs/welcome' %>
							</div>
						</aside>
					</div>
				<% end %>
			</div>	
		</aside>
	</section> 
<%= render 'shared/layout/two' %>
