<nav class="_navside _club">
  <div class="_cont _1">
    <%= link_to console_path, data: { no_turbolink: true }, class: "_logo _1 _item" do %>
      <%= image_tag @club.avatar.variant(resize_to_limit: [300, 300]), class: "_light" %>
      <span><%= @club.club_name %></span> 
    <% end %>
    <% if user_signed_in? %>

      <%= link_to direction_club_path(@club), class: "_item #{'ready' if @club.memberships.where(active: true).count > 0 } #{'active' if current_page?(direction_club_path(@club))}" do %>
        <i class="fal fa-steering-wheel"></i>
        <span>Direction</span> 
      <% end %>
      <%= link_to members_club_path(@club), class: "_item #{'active' if current_page?(members_club_path(@club)) || current_page?(requests_club_path(@club)) || current_page?(scouting_club_path(@club)) }" do %>
        <i class="fal fa-users"></i>
        <span>Team</span> 
      <% end %>
      <% if current_page?(members_club_path(@club)) || current_page?(requests_club_path(@club)) || current_page?(scouting_club_path(@club)) %>
        <%= link_to scouting_club_path(@club), class: "_item _sub #{'active' if current_page?(scouting_club_path(@club))}" do %>
          <i class="fal fa-bullseye-arrow"></i>
          <span>Scouting</span> 
        <% end %>
        <%= link_to requests_club_path(@club), class: "_item _sub #{'active' if current_page?(requests_club_path(@club))}" do %>
          <i class="fal fa-bullseye-pointer"></i>
          <span>Requests</span> 
        <% end %>
      <% end %>

      <% if @club.duels.count > 0 %>
        <%= link_to duels_club_path(@club), class: "_item #{'active' if current_page?(duels_club_path(@club))}" do %>
          <i class="fal fa-history"></i>
          <span>Story</span> 
        <% end %>
      <% end %>
      
      <% if current_user.id == @club.user_id %>
        <%= link_to edit_club_path(@club), class: "_item #{'active' if current_page?(edit_club_path(@club))}" do %>
          <i class="fal fa-pencil-alt"></i>
          <span>Edit</span> 
        <% end %>
      <% end %>

    <% end %>
    <hr>
    <%= link_to console_path, class: "_item #{'active' if current_page?(console_path(@club))}" do %>
      <i class="fal fa-arrow-left"></i>
      <span class="_1">Console</span>
    <% end %>

    <% is_ready = !@club.price.blank? && !@club.captain.blank? && !@club.avatar.attached? && !@club.sport_type.blank? && !@club.amenities.blank? && !@club.address.blank? && !@club.city.blank? && !@club.country.blank? && @club.memberships.where(active: true).count > 0  %>
    <% if is_ready %>
      <%= simple_form_for @club do |f| %>
        <%= f.hidden_field :active, value: true %>
        <% unless @club.active == true %>
          <button type="submit" class="_item _icon_action button--aylen _2 d-none d-xxl-block <%= 'disabled' unless is_ready %>" data-text="Publishing...">
            <span>Publish</span>
          </button>
          <button type="submit" class="_item _icon_action button--aylen _2 _item d-xxl-none <%= 'disabled' unless is_ready %>" data-text="Publishing...">
            <span>Publish</span>
          </button>
        <% end %>
      <% end %>
    <% end %>
  </div>
</nav>
<%= render "shared/navs/foot" %>