<li class="list-group-item d-flex justify-content-between _itemclub">
  <div class="_i">
		<figure>
			<%= link_to dashboard_club_path(club) do %><%= image_tag club.avatar.url(:medium), class: "_shield _2" %><% end %>
		</figure>
		<div class="_data">
			<h3 class="_name"><strong><%= link_to dashboard_club_path(club) do %><%= club.club_name %><% end %></strong></h3>
		</div>
  </div>
  <div class="_ii">
		<div class="_status">
			<span class="badge bg-secondary rounded-pill"><%= club.status %></span>
		</div>
  </div>
  <div class="_iii">
		<div class="_members">
			<div class="_membersline">
				<% @members = User.joins(:memberships).where("memberships.club_id = ? AND memberships.status = 1", club.id).limit(4) %>
    		<% @total_members = club.memberships.where(status: 1).count %>

    		<% if @members.exists? %>
	    		<% @members.each do |member| %>
	    			<%= image_tag member.avatar.url(:medium), class: "_avatar _1" %>
	    		<% end %>
	    	<% else %>
	    		<small><mutted>Sin miembros</mutted></small>
	    	<% end %>
			</div>
		</div>
  </div>
  <div class="_iv">
  	<%= link_to dashboard_club_path(club), class: "button--shikoba _1" do %>
  		<i class="button__icon fas fa-tachometer-alt-fast"></i>
  		<span>Control</span>
  	<% end %>
  </div>
</li>