<div class="notification <%= 'off' if !notification.read_at.nil? %>">
  <div class="_in">
    <div class="_1">
      <div class="_i">
        <p class="_mutted"><%= notification.category_name %></p>
      </div>
      <div class="_ii">
        <p class="_mutted"><%= notification.time_remaining %> ago</p>
      </div>
    </div>
    <div class="_2">
      <h5 class="_content"><%= notification.content %></h5>
    </div>
    <div class="_3">
      <div class="_data">
        <% if notification.action_name == 'Amistad' %>
          <figure>
            <i class="fad fa-user-friends"></i>
          </figure>
          <p class="_annun">New friendship</p>
        <% elsif notification.action_name == 'Fan' %>
          <figure>
            <i class="fad fa-user-plus"></i>
          </figure>
          <p class="_annun">New follower</p>
        <% elsif notification.action_name == 'Convocatoria' %>
          <figure>
            <i class="fad fa-flag-checkered"></i>
          </figure>
          <p class="_annun">You have been called up</p>
        <% elsif notification.action_name == 'Aceptado' %>
          <figure>
            <i class="fad fa-check-circle"></i>
          </figure>
          <p class="_annun">Approved</p>
        <% elsif notification.action_name == 'Denegado' %>
          <figure>
            <i class="fad fa-times-circle"></i>
          </figure>
          <p class="_annun">Denied</p>
        <% elsif notification.action_name == 'Suspendido' %>
          <figure>
            <i class="fad fa-ghost"></i>
          </figure>
          <p class="_annun">New suspension</p>
        <% elsif notification.action_name == 'Solicitud' %>
          <figure>
            <i class="fad fa-hand-peace"></i>
          </figure>
          <p class="_annun">New request</p>
        <% elsif notification.action_name == 'Lesion' %>
          <figure>
            <i class="fad fa-user-injured"></i>
          </figure>
          <p class="_annun">Injury alert</p>
        <% elsif notification.action_name == 'Sancion' %>
          <figure>
            <i class="fad fa-engine-warning"></i>
          </figure>
          <p class="_annun">Sanction alert</p>
        <% elsif notification.action_name == 'Bloqueo' %>
          <figure>
            <i class="fad fa-ban"></i>
          </figure>
          <p class="_annun">Block alert</p>
        <% elsif notification.action_name == 'Invitacion' %>
          <figure>
            <i class="fad fa-envelope-open-text"></i>
          </figure>
          <p class="_annun">Invitación</p>
        <% elsif notification.action_name == 'Desafios' %>
          <figure>
            <i class="fad fa-swords"></i>
          </figure>
          <p class="_annun">Challenge</p>
        <% end %>
      </div>
    </div>
    </div>
    <% if notification.url %>
      <%= link_to mark_as_read_notification_path(notification), method: :patch, class: "_link_hide" do %><% end %>
    <% end %>
</div>
