<%= simple_form_for([@club, @duel], class: "_steps "	)  do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :time_type, value: 'Instant' %>

  <fieldset class="step step_1 active p-3 ">
    <aside class="_content">
      <div class="_head">
        <div class="_in">
          <h1 class="display-6">Select the discipline for your duel</h1>
        </div>
      </div>
      <div class="_sports _options">
        <% sports = [
				  ["11-a-side", "Futbol11", 11],
				  ["10-a-side", "Futbol10", 10],
				  ["9-a-side", "Futbol9", 9],
				  ["8-a-side", "Futbol8", 8],
				  ["7-a-side", "Futbol7", 7],
				  ["6-a-side", "Futbol6", 6],
				  ["5-a-side", "Futbol5", 5],
				  ["4-a-side", "Microfutbol", 4],
				  ["3-a-side", "Bancas", 3],
				  ["2-a-side", "Kings", 2],
				  ["1-a-side", "Legends", 1],
				  ["Futvoley", "Futvoley", 3],
				  ["Futenis", "Futenis", 2]
				].reverse %>
				<% approved_members_count = @club.memberships.where(status: 1).count %>
				<div class="_sports _options">
				  <% sports.each do |sport| %>
				    <% sport_name, sport_id, members_required = sport %>
				    <% disable_sport = approved_members_count < members_required %>
				    <div class="_sport _option <% if disable_sport %> blocked <% end %>">
				      <div class="_info">
				        <div class="_data">
				          <figure class="_icon">
				            <img src="//d2ivxtccd0p0sz.cloudfront.net/assets/images/futicons/<%= sport_id %>.png">
				          </figure>
				          <div class="_description">
			          		<div class="_inner">
			          			<h5 class="m-0"><%= sport_name %></h5>
					            <p>
								      <% case sport_id %>
								        <% when "Legends" %>
								          1 x 1
								        <% when "Kings" %>
								          2 x 2
								        <% when "Bancas" %>
								          3 x 3
								        <% when "Microfutbol" %>
								          4 x 4
								        <% when "Futbol5" %>
								          5 x 5
								        <% when "Futbol6" %>
								          6 x 6
								        <% when "Futbol7" %>
								          7 x 7
								        <% when "Futbol8" %>
								          8 x 8
								        <% when "Futbol9" %>
								          9 x 9
								        <% when "Futbol10" %>
								          10 x 10
								        <% when "Futbol11" %>
								          11 x 11
								      <% end %></p>
			          		</div>
					            
				          </div>
				        </div>
				      </div>
				      <%= f.radio_button :sport, sport_id, {class: 'form-check-input next', required: true, id: "duel_sport_#{sport_id}", disabled: disable_sport } %>
								<div class="_note">
							  <% if disable_sport %>
							    <p>You don't have enough players</p>
							  <% else %>
							    <p>Select</p>
							  <% end %>
							</div>

				    </div>
				  <% end %>
				</div>
      </div>
			<div class="_action text-center">
				<button class="_back_step button--shikoba _2">
					<span>Back</span>
					<i class="button__icon fal fa-arrow-left"></i>
				</button>
			</div>
    </aside>
  </fieldset>
	
  <fieldset class="step step_1 p-3">
		<aside class="_content _type_time_start">
			<div class="_head">
				<div class="_in">
					<h1 class="display-6">How much time do you need?</h1>
				</div>
			</div>
			<div class="_body">
				<div class="_sports _options">
					<% ready_times = [
						["15 min", 15],
						["30 min", 30],
						["1 hour", 60],
						["2 hour", 120],
						["3 hour", 180],
						["4 hour", 240],
						["5 hour", 300],
						["6 hour", 360]
					] %>
					<% ready_times.each do |ready_time| %>
						<% ready_time_name, ready_time_minutes = ready_time %>
						<div class="_sport _option ">
							<div class="_info">
								<div class="_data">
									<div class="_description">
										<div class="_inner">
											<h5 class="m-0"><%= ready_time_name %></h5>
										</div>
									</div>
								</div>
							</div>
							<%= f.radio_button :ready_time, ready_time_minutes, class: "ready-time-radio" %>
						</div>
					<% end %>
					<%= f.datetime_field :start_date, id: "start-date_1", class: "d-none" %>
				</div>
			</div>
			<div class="_action">
			<button type="button" class="prev button--shikoba _2">
				<span>Back</span>
				<i class="button__icon fal fa-arrow-left"></i>
			</button>
			<button type="button" class="next button--shikoba _2">
				<span>Next</span>
				<i class="button__icon fal fa-arrow-right"></i>
			</button>
			</div>
		</aside>
  </fieldset>
  
  <fieldset class="step step_1 p-3">
		<aside class="_content">
			<div class="_head">
				<div class="_in">
				  <h1 class="display-6">Determine the duration of the duel</h1>
				  <p class="lead">¡Great! Now, we need to determine how long the duel will last. Select the duration of the duel in minutes to ensure that both teams have enough time to compete and showcase their skills:</p>
				</div>
		  </div>
	    <div class="_body">
	      <div class="mb-3">
	      	<div class="_inputactions">
	      		<a href="#" class="_btn button--sacnite _btn-minus-time_1">
		      		<i class="bi bi-dash"></i>
						</a>
						<div class="_input_number">
							<%= f.number_field :duration_time, placeholder: "1", class: "form-control _process", id: "duration-time_1", min: "30", placeholder: "90", max: "360" %>
							<div class="_block"></div>
						</div>
						<a href="#" class="_btn button--sacnite _btn-plus-time_1">
		      		<i class="bi bi-plus-lg"></i>
						</a>
	      	</div>
	    		<%= f.datetime_field :end_date, id: "end-date_1", class: "_process d-none" %>
	      </div>
	    </div>
			<div class="_foot">
			  <div class="alert alert-info" role="alert">
				  Every minute counts! Enter the approximate duration of your duel in minutes. Remember it must be at least 30 minutes, but no more than 6 hours (360 minutes) for your duel to be valid.
				</div>
			</div>
			<div class="_action">
				<button type="button" class="prev button--shikoba _2">
					<span>Back</span>
					<i class="button__icon fal fa-arrow-left"></i>
				</button>
				<button type="button" class="next button--shikoba _2" id="follow-button">
					<span>Next</span>
					<i class="button__icon fal fa-arrow-right"></i>
				</button>
			</div>
		</aside>
  </fieldset>
  
  <fieldset class="step step_1 p-3">
		<aside class="_content">
			<div class="_head">
				<div class="_in">
				  <h1 class="display-6">Do you want a referee for your duel?</h1>
				  <p class="lead">In this step, you must decide if you want a referee for your duel. A referee can help ensure that the game is fair and safe for all participants.</p>
				</div>
		  </div>
		  <div class="_body">
				<div class="_referees _options">
		    	<% referees = [["Request a referee", true ], ["No referee", false]] %>
			    <% referees.each do |referee| %>
			      <div class="_referee _option">
		      		<div class="_info">
		      			<div class="_data">
		      				<figure class="_icon">
			      				<img src="//d2ivxtccd0p0sz.cloudfront.net/assets/images/futicons/<%= referee[0].downcase.gsub(" ", "-") %>.png">
			      			</figure>
			      			<div class="_data">
			      				<h5 class="m-0"><%= referee[0] %></h5>
				      			<p></p>
			      			</div>
		      			</div>
		      			<div class="_action">
				    			<i class="far fa-arrow-right"></i>
				    		</div>
		      		</div>
							<%= f.radio_button :referee, referee[1], {class: 'next', required: true, id: "duel_referee_#{referee[1]}" } %>
			      </div>
					<% end %>
				</div>
		  </div>
			<div class="_foot">
				  <div class="alert alert-info" role="alert">
					  If you decide not to have a referee, make sure to read and understand the additional responsibilities you will have as a captain.
					</div>
			</div>
			<div class="_action">
				<button type="button" class="prev button--shikoba _2">
					<span>Back</span>
					<i class="button__icon fal fa-arrow-left"></i>
				</button>
			</div>
		</aside>
  </fieldset>
  
  <fieldset class="step step_1 p-3">
		<aside class="_content">
			<div class="_head">
				<div class="_in">
				  <h1 class="display-6">Do you want your duel to be friendly or for a bet?</h1>
				  <p class="lead">In this step, you must decide if you want your duel to be friendly or for a bet. Select an option below:</p>
				</div>
		  </div>
		  <div class="_body">
				<div class="_types _options">
		    	<% types = [["Friendly Duel", "Friendly"], ["Bet Duel", "Bet"]] %>
			    <% types.each do |type| %>
			      <div class="_type _option">
		      		<div class="_info">
		      			<div class="_data">
		      				<figure class="_icon">
			      				<img src="//d2ivxtccd0p0sz.cloudfront.net/assets/images/futicons/<%= type[1] %>.png">
			      			</figure>
			      			<div class="_data">
			      				<h5 class="m-0"><%= type[0] %></h5>
				      			<p></p>
			      			</div>
		      			</div>
		      			<div class="_action">
				    			<i class="far fa-arrow-right"></i>
				    		</div>
		      		</div>
							<%= f.radio_button :duel_type, type[1], {class: 'next', required: true, id: "duel_type_#{type[1]}" } %>
			      </div>
					<% end %>
				</div>
		  </div>
			<div class="_foot">
			  <div class="alert alert-info" role="alert">
				  If you choose a bet duel, please note that bet duels may not be available in all locations and are subject to local laws and regulations.
				</div>
			</div>
			<div class="_action">
				<button type="button" class="prev button--shikoba _2">
					<span>Back</span>
					<i class="button__icon fal fa-arrow-left"></i>
				</button>
			</div>
		</aside>
  </fieldset>

  <fieldset class="step step_1 p-3">
		<aside class="_content">
			<div class="_head">
				<div class="_in">
				  <h1 class="display-6">Additional Responsibilities as Captain</h1>
				  <p class="lead">If you choose not to have a referee for your duel, it's important that you understand that you and the other captain will be responsible for ensuring that the game is fair and that the rules are respected. In case of any conflict, sanctions will be applied to the team and both captains. Please confirm that you understand these additional responsibilities before proceeding:</p>
				</div>
		  </div>
		  <div class="_body"></div>
		  <div class="_foot"></div>
			<div class="_action">
				<button type="button" class="prev button--shikoba _2">
					<span>Back</span>
					<i class="button__icon fal fa-arrow-left"></i>
				</button>
				<button type="submit" class="button--shikoba _2">
					<span>Create Instant Duel</span>
					<i class="button__icon fal fa-arrow-right"></i>
				</button>
			</div>
		</aside>
  </fieldset>

<% end %>


<script type="text/javascript">
	(function() {
			/* ================== DATETIME I ======================= */

				$(function() {
					$('.ready-time-radio').on('change', function() {
						const minutesToAdd = parseInt($(this).val());
						const startDate = new Date();
						// Ajusta la fecha y hora a la zona horaria del navegador
						const offset = startDate.getTimezoneOffset();
						startDate.setMinutes(startDate.getMinutes() + minutesToAdd - offset);
						$('#start-date_1').val(startDate.toISOString().slice(0, 16));
					});
				});
			
					
				$(function() {
					const startDate = $('#start-date_1');
					const durationHours = $('#duration-time_1');
					const endDate = $('#end-date_1');

					function updateEndDate() {
						if (!startDate.val()) {
							console.error('La fecha de inicio no está establecida');
							return;
						}
					
						const start = new Date(startDate.val() + 'Z');
						const duration = parseInt(durationHours.val());
					
						if (isNaN(start.getTime())) {
							console.error('La fecha de inicio no es válida');
							return;
						}
					
						if (isNaN(duration)) {
							console.error('La duración no es válida');
							return;
						}
					
						const end = new Date(start.getTime() + duration * 60 * 1000);
						// Ajusta la fecha y hora a la zona horaria del navegador
						const offset = start.getTimezoneOffset();
						start.setMinutes(start.getMinutes() - offset);
						startDate.val(start.toISOString().slice(0, 16))

						end.setMinutes(end.getMinutes() - offset);
						endDate.val(end.toISOString().slice(0, 16));
					}

					startDate.on('input', updateEndDate);
					durationHours.on('input', updateEndDate);

					$('._btn-minus-time_1').on('click', function() {
						var val = parseInt(durationHours.val()) || 30;
						val = Math.max(30, val - 10); // Establecer un mínimo de 30 minutos
						durationHours.val(val);
						updateEndDate();
					});

					$('._btn-plus-time_1').on('click', function() {
						var val = parseInt(durationHours.val()) || 360;
						val = Math.min(360, val + 10); // Establecer un máximo de 360 minutos
						durationHours.val(val);
						updateEndDate();
					});
				});

			/* ==================== END DATETIME I ===================== */
			
			/* ==================== BARRA DE PROGRESO ===================== */
				$(document).ready(function() {
					var currentStep = 0;
					var $form = $('.tab_instant .new_duel');
					var $steps = $form.find('.step');
					var numSteps = $steps.length;

					function showStep(step) {
							$steps.removeClass('active');
							$steps.eq(step).addClass('active');
							if (step === 0) {
									$form.find('.prev').hide();
							} else {
									$form.find('.prev').show();
							}
							if (step === numSteps - 1) {
									$form.find('.next').hide();
							} else {
									$form.find('.next').show();
							}
					}

					showStep(currentStep);

					$form.find('.next').click(function() {
						var $currentStep = $steps.eq(currentStep);
						var isValid = true;
				
						// Check if there are radio buttons in the current step
						var $radioButtons = $currentStep.find('input[type="radio"]');
						if ($radioButtons.length > 0) {
								// Check if a radio button is selected
								var $selectedRadio = $radioButtons.filter(':checked');
								if ($selectedRadio.length === 0) {
										isValid = false;
										$radioButtons.addClass('error');
								} else {
										$radioButtons.removeClass('error');
								}
						}
				
						if (isValid) {
								$currentStep.fadeOut(500).promise().done(function() {
										currentStep++;
										showStep(currentStep);
										$steps.eq(currentStep).fadeIn(500);
								});
						}
					});

					$form.find('.prev').click(function() {
							$steps.eq(currentStep).fadeOut(500).promise().done(function() {
									currentStep--;
									showStep(currentStep);
									$steps.eq(currentStep).fadeIn(500);
							});
					});
			});

			/* ==================== END BARRA DE PROGRESO ===================== */

	})();
</script>