<%= simple_form_for([@club, @duel], class: "_steps new_duel_schedule"	)  do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :time_type, value: 'Schedule' %>

  <fieldset class="step active p-3">
    <aside class="_content">
      <div class="_head">
        <div class="_in">
          <h1 class="display-6">Select the discipline for your duel</h1>
					<% if @duel.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(@duel.errors.count, "error") %> impidieron que se creara el duelo:</h2>
						<ul>
						<% @duel.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
						</ul>
					</div>
				<% end %>
        </div>
      </div>
      <div class="_sports _options">
        <% sports = [
				  ["11-a-side", "Futbol11", 11],
				  ["10-a-side", "Futbol10", 10],
				  ["9-a-side", "Futbol9", 9],
				  ["8-a-side", "Futbol8", 8],
				  ["7-a-side", "Futbol7", 7],
				  ["6-a-side", "Futbol6", 6],
				  ["5-a-side", "Futbol5", 5],
				  ["4-a-side", "Microfutbol", 4],
				  ["3-a-side", "Bancas", 3],
				  ["2-a-side", "Kings", 2],
				  ["1-a-side", "Legends", 1]
				].reverse %>
				<% approved_members_count = @club.memberships.where(status: 1).count %>
				<div class="_sports _options">
				  <% sports.each do |sport| %>
				    <% sport_name, sport_id, members_required = sport %>
				    <% disable_sport = approved_members_count < members_required %>
				    <div class="_sport _option <% if disable_sport %> blocked <% end %>">
				      <div class="_info">
				        <div class="_data">
				          <figure class="_icon">
				            <img src="//d2ivxtccd0p0sz.cloudfront.net/assets/images/futicons/<%= sport_id %>.png">
				          </figure>
				          <div class="_description">
			          		<div class="_inner">
			          			<h5 class="m-0"><%= sport_name %></h5>
					            <p>
								      <% case sport_id %>
								        <% when "Legends" %>
								          1 x 1
								        <% when "Kings" %>
								          2 x 2
								        <% when "Bancas" %>
								          3 x 3
								        <% when "Microfutbol" %>
								          4 x 4
								        <% when "Futbol5" %>
								          5 x 5
								        <% when "Futbol6" %>
								          6 x 6
								        <% when "Futbol7" %>
								          7 x 7
								        <% when "Futbol8" %>
								          8 x 8
								        <% when "Futbol9" %>
								          9 x 9
								        <% when "Futbol10" %>
								          10 x 10
								        <% when "Futbol11" %>
								          11 x 11
								      <% end %></p>
			          		</div>
				          </div>
				        </div>
				      </div>
				      <%= f.radio_button :sport, sport_id, {class: 'form-check-input next', required: true, id: "duel_sport_#{sport_id}", disabled: disable_sport } %>
							<div class="_note">
								<% if disable_sport %>
									<p>You don't have enough players</p>
								<% else %>
									<p>Seleccionar</p>
								<% end %>
							</div>
				    </div>
				  <% end %>
				</div>
      </div>
			<div class="_action text-center">
				<button class="_back_step button--shikoba _2">
					<span>Back</span>
					<i class="button__icon fal fa-arrow-left"></i>
				</button>
			</div>
    </aside>
  </fieldset>
	
  <fieldset class="step p-3">
		<aside class="_back">
		</aside>
  	<aside class="_content _scheduled_time">
  		<div class="_head">
		    <div class="_in">
		      <h1 class="display-6">Select the date and time for your duel</h1>
		      <p class="lead">Great! You've already chosen the discipline for your duel. Now, we need to know the date and time of your duel. Please select a date and time that works for you and your team. Make sure to choose a date that allows enough time to prepare for the duel.</p>
		    </div>
		  </div>
		  <div class="_body">
	      <div class="input-group mb-3">
				<% if @selected_date.present? %>
  				<%= f.datetime_field :start_date, value: @selected_date.strftime('%Y-%m-%dT%H:%M'), placeholder: "DD/MM/AAAA HH:MM", class: "form-control _process", id: "start-date_2" %>
	      <% else %>
  				<%= f.datetime_field :start_date, placeholder: "DD/MM/AAAA HH:MM", class: "form-control _process", id: "start-date_2" %>
				<% end %>
				</div>
		  </div>
		  <div class="_foot"></div>
			<div class="_action">
				<button type="button" class="prev button--shikoba _2">
					<span>Back</span>
					<i class="button__icon fal fa-arrow-left"></i>
				</button>
				<button type="button" class="next button--shikoba _2" id="follow-button">
					<span>Next</span>
					<i class="button__icon fal fa-arrow-right"></i>
				</button>
			</div>
  	</aside>
  </fieldset>
  
  <fieldset class="step p-3">
		<aside class="_back">
  		<a href="#" class="_btn button--sacnite prev">
				<i class="bi bi-chevron-left"></i>
			</a>
		</aside>
		<aside class="_content">
			<div class="_head">
				<div class="_in">
				  <h1 class="display-6">Determine the duration of the match.</h1>
				  <p class="lead">Great! Now, we need to determine how long the match will last. Select the match duration in minutes to ensure that both teams have enough time to compete and showcase their skills:</p>
				</div>
		  </div>
	    <div class="_body">
	      <div class="mb-3">
	      	<div class="_inputactions">
	      		<a href="#" class="_btn button--sacnite _btn-minus-time_2">
		      		<i class="bi bi-dash"></i>
						</a>
						<div class="_input_number">
							<%= f.number_field :duration_time, placeholder: "1", class: "form-control _process", id: "duration-time", min: "30", placeholder: "90", max: "360" %>
							<div class="_block"></div>
						</div>
						<a href="#" class="_btn button--sacnite _btn-plus-time_2">
		      		<i class="bi bi-plus-lg"></i>
						</a>
	      	</div>
	    		<%= f.datetime_field :end_date, id: "end-date_2", class: "_process d-none" %>
	      </div>
	    </div>
			<div class="_foot">
			  <div class="alert alert-info" role="alert">
				  Every minute counts! Enter the approximate duration of your match in minutes. Remember, it must be at least 30 minutes, but no more than 6 hours (360 minutes) for your match to be valid.
				</div>
			</div>
			<div class="_action">
				<div></div>
				<div class="_btns">
			    <a href="#" class="button--naira _1 fit _btnnext next">
			    	<span>Next</span>
						<i class="button__icon bi bi-check2"></i>
			  	</a>
				</div>
			</div>
		</aside>
  </fieldset>
  
  <fieldset class="step p-3">
		<aside class="_back">
  		<a href="#" class="_btn button--sacnite prev">
				<i class="bi bi-chevron-left"></i>
			</a>
		</aside>
		<aside class="_content">
			<div class="_head">
				<div class="_in">
				  <h1 class="display-6">Do you want a referee for your match?</h1>
				  <p class="lead">In this step, you need to decide if you want a referee for your match. A referee can help ensure that the game is fair and safe for all participants.</p>
				</div>
		  </div>
		  <div class="_body">
				<div class="_referees _options">
		    	<% referees = [["Solicitar un arbitro", true ], ["Sin arbitro", false]] %>
			    <% referees.each do |referee| %>
			      <div class="_referee _option">
		      		<div class="_info">
		      			<div class="_data">
		      				<figure class="_icon">
			      				<img src="//d2ivxtccd0p0sz.cloudfront.net/assets/images/futicons/<%= referee[0].downcase.gsub(" ", "-") %>.png">
			      			</figure>
			      			<div class="_data">
			      				<h5 class="m-0"><%= referee[0] %></h5>
				      			<p></p>
			      			</div>
		      			</div>
		      			<div class="_action">
				    			<i class="far fa-arrow-right"></i>
				    		</div>
		      		</div>
							<%= f.radio_button :referee, referee[1], {class: 'next', required: true, id: "duel_referee_#{referee[1]}" } %>
			      </div>
					<% end %>
				</div>
		  </div>
			<div class="_foot">
				  <div class="alert alert-info" role="alert">
					  If you choose not to have a referee, make sure to read and understand the additional responsibilities you will have as a captain. 
					</div>
			</div>
		</aside>
  </fieldset>
  
  <fieldset class="step p-3">
		<aside class="_back">
  		<a href="#" class="_btn button--sacnite prev">
				<i class="bi bi-chevron-left"></i>
			</a>
		</aside>
		<aside class="_content">
			<div class="_head">
				<div class="_in">
				  <h1 class="display-6">Do you want your match to be friendly or competitive?</h1>
				  <p class="lead">In this step, you need to decide whether you want your match to be friendly or competitive. Please select an option below:</p>
				</div>
		  </div>
		  <div class="_body">
				<div class="_types _options">
		    	<% types = [["Duelo amistoso", "Friendly"], ["Duelo de apuesta", "Bet"]] %>
			    <% types.each do |type| %>
			      <div class="_type _option">
		      		<div class="_info">
		      			<div class="_data">
		      				<figure class="_icon">
			      				<img src="//d2ivxtccd0p0sz.cloudfront.net/assets/images/futicons/<%= type[1] %>.png">
			      			</figure>
			      			<div class="_data">
			      				<h5 class="m-0"><%= type[0] %></h5>
				      			<p></p>
			      			</div>
		      			</div>
		      			<div class="_action">
				    			<i class="far fa-arrow-right"></i>
				    		</div>
		      		</div>
							<%= f.radio_button :duel_type, type[1], {class: 'next', required: true, id: "duel_type_#{type[1]}" } %>
			      </div>
					<% end %>
				</div>
		  </div>
			<div class="_foot">
			  <div class="alert alert-info" role="alert">
				  If you choose a wager match, please note that wager matches are not available in all locations and are subject to local laws and regulations.
				</div>
			</div>
		</aside>
  </fieldset>

  <fieldset class="step p-3">
		<aside class="_back">
  		<a href="#" class="_btn button--sacnite prev">
				<i class="bi bi-chevron-left"></i>
			</a>
		</aside>
		<aside class="_content">
			<div class="_head">
				<div class="_in">
				  <h1 class="display-6">Additional Responsibilities as Captain</h1>
				  <p class="lead">If you choose not to have a referee for your match, it's important to understand that you and the other captain will be responsible for ensuring that the game is fair and that the rules are respected. In case of any conflicts, penalties will be applied to the team and both captains. Please confirm that you understand these additional responsibilities before proceeding:</p>
				</div>
		  </div>
		  <div class="_body"></div>
		  <div class="_foot"></div>
			<div class="_action">
				<div></div>
				<div class="_btns">
	    		<button type="submit" class="button--naira _1 fit _btnnext">
			    	<span>Create duel</span>
						<i class="button__icon bi bi-check2-all"></i>
	    		</button>
				</div>
			</div>
		</aside>
  </fieldset>

<% end %>


<script type="text/javascript">
	(function() {
		/* ================== DATETIME I ======================= */
			$(function() {
				const startDate = $('#start-date_2');
				const durationHours = $('#duration-time');
				const endDate = $('#end-date_2');

				function updateEndDate() {
						if (!startDate.val()) {
								console.error('La fecha de inicio no está establecida');
								return;
						}

						// Interpretar la fecha y hora como local y convertirla a UTC
						const start = new Date(startDate.val());
						start.setMinutes(start.getMinutes() - start.getTimezoneOffset());
						const duration = parseInt(durationHours.val());

						if (isNaN(duration)) {
								console.error('La duración no es válida');
								return;
						}

						// Calcular la fecha y hora de finalización en UTC
						const end = new Date(start.getTime() + duration * 60 * 1000);

						// Formatear y establecer las fechas de inicio y finalización
						startDate.val(start.toISOString().slice(0, 16));
						endDate.val(end.toISOString().slice(0, 16));
				}

				startDate.on('input', updateEndDate);
				durationHours.on('input', updateEndDate);

				$('._btn-minus-time_2').on('click', function() {
					var val = parseInt(durationHours.val()) || 30;
					val = Math.max(30, val - 10); // Establecer un mínimo de 30 minutos
					durationHours.val(val);
					updateEndDate();
				});
				$('._btn-plus-time_2').on('click', function() {
					var val = parseInt(durationHours.val()) || 30;
					val = Math.min(150, val + 10); // Establecer un máximo de 360 minutos
					durationHours.val(val);
					updateEndDate();
				});
			});
		/* ==================== END DATETIME I ===================== */

		/* ==================== BARRA DE PROGRESO ===================== */
			$(document).ready(function() {
				var currentStep = 0;
				var $form = $('.new_duel');
				var $steps = $form.find('.step');
				var numSteps = $steps.length;

				function showStep(step) {
						$steps.removeClass('active');
						$steps.eq(step).addClass('active');
						if (step === 0) {
								$form.find('.prev').hide();
						} else {
								$form.find('.prev').show();
						}
						if (step === numSteps - 1) {
								$form.find('.next').hide();
						} else {
								$form.find('.next').show();
						}
				}

				showStep(currentStep);

				$form.find('.next').click(function() {
					var $currentStep = $steps.eq(currentStep);
					var isValid = true;
			
					// Check if there are radio buttons in the current step
					var $radioButtons = $currentStep.find('input[type="radio"]');
					if ($radioButtons.length > 0) {
							// Check if a radio button is selected
							var $selectedRadio = $radioButtons.filter(':checked');
							if ($selectedRadio.length === 0) {
									isValid = false;
									$radioButtons.addClass('error');
							} else {
									$radioButtons.removeClass('error');
							}
					}
			
					if (isValid) {
							$currentStep.fadeOut(500).promise().done(function() {
									currentStep++;
									showStep(currentStep);
									$steps.eq(currentStep).fadeIn(500);
							});
					}
				});

				$form.find('.prev').click(function() {
						$steps.eq(currentStep).fadeOut(500).promise().done(function() {
								currentStep--;
								showStep(currentStep);
								$steps.eq(currentStep).fadeIn(500);
						});
				});
			});

			function updateProgressBar() {
					var steps = document.querySelectorAll('.step');
					var progress = document.getElementById('_progress-bar');
					var stepCount = steps.length;
					var currentStep = 0;

					// Encontrar el paso actual
					for (var i = 0; i < steps.length; i++) {
							if (steps[i].classList.contains('active')) {
							currentStep = i;
							break;
							}
					}

					// Actualizar la barra de progreso
					var percent = ((currentStep + 1) / stepCount) * 100;
					progress.style.width = percent + '%';
			}

			var nextButtons = document.querySelectorAll('.next');
			for (var i = 0; i < nextButtons.length; i++) {
				nextButtons[i].addEventListener('click', function() {
						updateProgressBar();
				});
			}

		/* ==================== END BARRA DE PROGRESO ===================== */
		
	})();
</script>